@font-face {
    font-family: Roboto;
    src: url(../Fonts/Roboto-Bold.ttf);
}


body{
margin: 0;
}

.main-login{
    font-family: Roboto;
    width: 100vw;
    height: 100vh;
    /* background-color: #471ac0; */
    background-image: linear-gradient(#563f96 ,#563f96,#1c0c47);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    font-family: Roboto;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.left-image{
    width: 35vw;

}

.left-login > h1{
    font-family: Roboto;
    font-size: 45px;
    color: #ffffff;
}

.right-login{
    font-family: Roboto;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-login{
    font-family: Roboto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-image: linear-gradient(#2d1f53 ,#563f96,#1c0c47);
    border-radius: 20px;
    box-shadow: 10px 10px 40px #00000056;

}

.card-login > h1 {
    font-family: Roboto;
    color: #ffffff;
    font-weight: 800;
    margin: 0;

}


.textfield{
    font-family: Roboto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;

}


.textfield > input{
    font-family: Roboto;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #7f4ae0;
    color: #f0ffffde;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}


.textfield > label {
    font-family: Roboto;
    color: #ffffff;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    font-family: Roboto;
    color: #f0ffff94;
}

.btn-login{
    font-family: Roboto;
    width: 100%;
    padding: 16px 70px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background-color: #6311c0;
    cursor: pointer;
    box-shadow: 0 0 1px #000000;
}


.btn-cadastro{
    font-family: Roboto;
    font-weight: 800;
    display: -ms-flexbox;
    height: 40px;
    display: flex;
    background-color: #6311c0;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 15px 10px 10px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none; 
    border: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 1px #000000;
}


.logo{
    height: 55px;
    width: 55px;
    margin:0px 10px 0px 0px;
    display: flex;
    

}
